<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>64</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Boost-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -19.500,27.500 }</string>	
								<string>{ -19.500,24.500 }</string>	
								<string>{ -16.500,27.500 }</string>
							</array>
							<array>	
								<string>{ 19.500,27.500 }</string>	
								<string>{ 16.500,27.500 }</string>	
								<string>{ 19.500,24.500 }</string>
							</array>
							<array>	
								<string>{ 25.500,-22.500 }</string>	
								<string>{ 25.500,-20.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ -23.500,-22.500 }</string>
							</array>
							<array>	
								<string>{ -21.500,-26.500 }</string>	
								<string>{ 16.500,-26.500 }</string>	
								<string>{ 23.500,-22.500 }</string>	
								<string>{ -21.500,-24.500 }</string>
							</array>
							<array>	
								<string>{ -23.500,-24.500 }</string>	
								<string>{ -21.500,-24.500 }</string>	
								<string>{ 23.500,-22.500 }</string>	
								<string>{ -23.500,-22.500 }</string>
							</array>
							<array>	
								<string>{ 16.500,-29.500 }</string>	
								<string>{ 16.500,-26.500 }</string>	
								<string>{ 12.500,-29.500 }</string>
							</array>
							<array>	
								<string>{ 28.500,18.500 }</string>	
								<string>{ 25.500,18.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ 28.500,13.500 }</string>
							</array>
							<array>	
								<string>{ 21.500,-26.500 }</string>	
								<string>{ 23.500,-22.500 }</string>	
								<string>{ 16.500,-26.500 }</string>
							</array>
							<array>	
								<string>{ -25.500,22.500 }</string>	
								<string>{ -25.500,18.500 }</string>	
								<string>{ -23.500,22.500 }</string>
							</array>
							<array>	
								<string>{ -23.500,24.500 }</string>	
								<string>{ -23.500,22.500 }</string>	
								<string>{ -19.500,24.500 }</string>
							</array>
							<array>	
								<string>{ -16.500,29.500 }</string>	
								<string>{ -16.500,27.500 }</string>	
								<string>{ -12.500,29.500 }</string>
							</array>
							<array>	
								<string>{ 23.500,24.500 }</string>	
								<string>{ 19.500,24.500 }</string>	
								<string>{ -25.500,18.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ 25.500,18.500 }</string>
							</array>
							<array>	
								<string>{ 30.500,13.500 }</string>	
								<string>{ 28.500,13.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ 25.500,-20.500 }</string>	
								<string>{ 30.500,9.500 }</string>
							</array>
							<array>	
								<string>{ -27.500,-20.500 }</string>	
								<string>{ -23.500,-22.500 }</string>	
								<string>{ -28.500,-15.500 }</string>
							</array>
							<array>	
								<string>{ 27.500,-20.500 }</string>	
								<string>{ 28.500,-15.500 }</string>	
								<string>{ 25.500,-20.500 }</string>
							</array>
							<array>	
								<string>{ -23.500,22.500 }</string>	
								<string>{ -25.500,18.500 }</string>	
								<string>{ 19.500,24.500 }</string>	
								<string>{ 10.500,29.500 }</string>	
								<string>{ -19.500,24.500 }</string>
							</array>
							<array>	
								<string>{ 16.500,29.500 }</string>	
								<string>{ 10.500,29.500 }</string>	
								<string>{ 16.500,27.500 }</string>
							</array>
							<array>	
								<string>{ -28.500,18.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ -25.500,18.500 }</string>
							</array>
							<array>	
								<string>{ 30.500,-15.500 }</string>	
								<string>{ 30.500,-8.500 }</string>	
								<string>{ 28.500,-15.500 }</string>
							</array>
							<array>	
								<string>{ 12.500,-31.500 }</string>	
								<string>{ 12.500,-29.500 }</string>	
								<string>{ 5.500,-31.500 }</string>
							</array>
							<array>	
								<string>{ -30.500,-15.500 }</string>	
								<string>{ -28.500,-15.500 }</string>	
								<string>{ -30.500,-8.500 }</string>
							</array>
							<array>	
								<string>{ -3.500,33.500 }</string>	
								<string>{ -3.500,31.500 }</string>	
								<string>{ 3.500,31.500 }</string>	
								<string>{ 3.500,33.500 }</string>
							</array>
							<array>	
								<string>{ 10.500,31.500 }</string>	
								<string>{ -3.500,31.500 }</string>	
								<string>{ -12.500,29.500 }</string>	
								<string>{ -19.500,24.500 }</string>	
								<string>{ 10.500,29.500 }</string>
							</array>
							<array>	
								<string>{ -12.500,31.500 }</string>	
								<string>{ -12.500,29.500 }</string>	
								<string>{ -3.500,31.500 }</string>
							</array>
							<array>	
								<string>{ -19.500,-29.500 }</string>	
								<string>{ -5.500,-31.500 }</string>	
								<string>{ 5.500,-31.500 }</string>	
								<string>{ 16.500,-26.500 }</string>	
								<string>{ -19.500,-26.500 }</string>
							</array>
							<array>	
								<string>{ 16.500,27.500 }</string>	
								<string>{ 10.500,29.500 }</string>	
								<string>{ 19.500,24.500 }</string>
							</array>
							<array>	
								<string>{ 5.500,-33.500 }</string>	
								<string>{ 5.500,-31.500 }</string>	
								<string>{ -5.500,-31.500 }</string>	
								<string>{ -5.500,-33.500 }</string>
							</array>
							<array>	
								<string>{ -28.500,-15.500 }</string>	
								<string>{ -23.500,-22.500 }</string>	
								<string>{ -30.500,9.500 }</string>	
								<string>{ -32.500,9.500 }</string>	
								<string>{ -30.500,-8.500 }</string>
							</array>
							<array>	
								<string>{ -16.500,27.500 }</string>	
								<string>{ -19.500,24.500 }</string>	
								<string>{ -12.500,29.500 }</string>
							</array>
							<array>	
								<string>{ 12.500,-29.500 }</string>	
								<string>{ 16.500,-26.500 }</string>	
								<string>{ 5.500,-31.500 }</string>
							</array>
							<array>	
								<string>{ 28.500,-15.500 }</string>	
								<string>{ 30.500,-8.500 }</string>	
								<string>{ 32.500,9.500 }</string>	
								<string>{ 30.500,9.500 }</string>	
								<string>{ 25.500,-20.500 }</string>
							</array>
							<array>	
								<string>{ 32.500,-8.500 }</string>	
								<string>{ 32.500,9.500 }</string>	
								<string>{ 30.500,-8.500 }</string>
							</array>
							<array>	
								<string>{ -32.500,-8.500 }</string>	
								<string>{ -30.500,-8.500 }</string>	
								<string>{ -32.500,9.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Reverse-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 5.000,-33.000 }</string>	
								<string>{ 19.000,-28.000 }</string>	
								<string>{ 29.000,-19.000 }</string>	
								<string>{ -19.000,30.000 }</string>	
								<string>{ -27.000,23.000 }</string>	
								<string>{ -29.000,-17.000 }</string>	
								<string>{ -21.000,-26.000 }</string>	
								<string>{ -9.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -34.000,-3.000 }</string>	
								<string>{ -29.000,-17.000 }</string>	
								<string>{ -27.000,23.000 }</string>	
								<string>{ -33.000,11.000 }</string>
							</array>
							<array>	
								<string>{ 8.000,35.000 }</string>	
								<string>{ -7.000,35.000 }</string>	
								<string>{ -19.000,30.000 }</string>	
								<string>{ 29.000,-19.000 }</string>	
								<string>{ 29.000,-17.000 }</string>	
								<string>{ 20.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 34.000,10.000 }</string>	
								<string>{ 27.000,24.000 }</string>	
								<string>{ 20.000,30.000 }</string>	
								<string>{ 29.000,-17.000 }</string>	
								<string>{ 32.000,-14.000 }</string>	
								<string>{ 35.000,-3.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>SlowCharge-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 34.000,7.000 }</string>	
								<string>{ 27.000,23.000 }</string>	
								<string>{ 18.000,31.000 }</string>	
								<string>{ -29.000,-18.000 }</string>	
								<string>{ -22.000,-26.000 }</string>	
								<string>{ 18.000,-28.000 }</string>	
								<string>{ 28.000,-19.000 }</string>	
								<string>{ 33.000,-9.000 }</string>
							</array>
							<array>	
								<string>{ 4.000,-33.000 }</string>	
								<string>{ 18.000,-28.000 }</string>	
								<string>{ -22.000,-26.000 }</string>	
								<string>{ -11.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,21.000 }</string>	
								<string>{ -34.000,8.000 }</string>	
								<string>{ -34.000,-5.000 }</string>	
								<string>{ -29.000,-18.000 }</string>	
								<string>{ 18.000,31.000 }</string>	
								<string>{ 6.000,36.000 }</string>	
								<string>{ -6.000,36.000 }</string>	
								<string>{ -20.000,30.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Slow-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 20.000,29.000 }</string>	
								<string>{ 5.000,35.000 }</string>	
								<string>{ -5.000,35.000 }</string>	
								<string>{ 8.000,-33.000 }</string>	
								<string>{ 18.000,-29.000 }</string>	
								<string>{ 33.000,-9.000 }</string>	
								<string>{ 34.000,6.000 }</string>	
								<string>{ 30.000,18.000 }</string>
							</array>
							<array>	
								<string>{ -21.000,29.000 }</string>	
								<string>{ -30.000,19.000 }</string>	
								<string>{ -34.000,8.000 }</string>	
								<string>{ -34.000,-7.000 }</string>	
								<string>{ -20.000,-28.000 }</string>	
								<string>{ -9.000,-33.000 }</string>	
								<string>{ 8.000,-33.000 }</string>	
								<string>{ -5.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 28.000,-20.000 }</string>	
								<string>{ 33.000,-9.000 }</string>	
								<string>{ 18.000,-29.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,-19.000 }</string>	
								<string>{ -20.000,-28.000 }</string>	
								<string>{ -34.000,-7.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>SlowMo-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 24.000,24.000 }</string>	
								<string>{ 20.000,24.000 }</string>	
								<string>{ 24.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,20.000 }</string>	
								<string>{ 24.000,20.000 }</string>	
								<string>{ 26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,-18.000 }</string>	
								<string>{ 29.000,-14.000 }</string>	
								<string>{ 26.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,-30.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 13.000,-30.000 }</string>
							</array>
							<array>	
								<string>{ -16.000,-30.000 }</string>	
								<string>{ -12.000,-30.000 }</string>	
								<string>{ -16.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,27.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -16.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,-27.000 }</string>	
								<string>{ 20.000,-25.000 }</string>	
								<string>{ 17.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,24.000 }</string>	
								<string>{ -23.000,22.000 }</string>	
								<string>{ -20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ -28.000,-18.000 }</string>	
								<string>{ -25.000,-19.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 11.000,29.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -28.000,-14.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,27.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,18.000 }</string>	
								<string>{ 26.000,18.000 }</string>	
								<string>{ 29.000,13.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,-23.000 }</string>	
								<string>{ -21.000,-25.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ -25.000,-19.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,-25.000 }</string>	
								<string>{ 24.000,-23.000 }</string>	
								<string>{ 20.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ -16.000,29.000 }</string>	
								<string>{ -16.000,27.000 }</string>	
								<string>{ -12.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 15.000,29.000 }</string>	
								<string>{ 11.000,29.000 }</string>	
								<string>{ 15.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,13.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 20.000,-25.000 }</string>	
								<string>{ 31.000,9.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,22.000 }</string>	
								<string>{ -26.000,18.000 }</string>	
								<string>{ -23.000,22.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,-14.000 }</string>	
								<string>{ 31.000,-9.000 }</string>	
								<string>{ 29.000,-14.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,-23.000 }</string>	
								<string>{ 26.000,-18.000 }</string>	
								<string>{ 24.000,-23.000 }</string>
							</array>
							<array>	
								<string>{ -21.000,-27.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ -21.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ -30.000,-14.000 }</string>	
								<string>{ -28.000,-14.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -30.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,-23.000 }</string>	
								<string>{ 26.000,-18.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 31.000,9.000 }</string>	
								<string>{ 20.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,-32.000 }</string>	
								<string>{ 13.000,-30.000 }</string>	
								<string>{ 6.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -12.000,-32.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ -12.000,-30.000 }</string>
							</array>
							<array>	
								<string>{ -3.000,33.000 }</string>	
								<string>{ -3.000,31.000 }</string>	
								<string>{ 4.000,31.000 }</string>	
								<string>{ 4.000,33.000 }</string>
							</array>
							<array>	
								<string>{ 11.000,31.000 }</string>	
								<string>{ -3.000,31.000 }</string>	
								<string>{ -12.000,29.000 }</string>	
								<string>{ -16.000,27.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ 11.000,29.000 }</string>
							</array>
							<array>	
								<string>{ -12.000,31.000 }</string>	
								<string>{ -12.000,29.000 }</string>	
								<string>{ -3.000,31.000 }</string>
							</array>
							<array>	
								<string>{ -28.000,18.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 6.000,-34.000 }</string>	
								<string>{ 6.000,-32.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ -5.000,-34.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,-30.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ -12.000,-30.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ 6.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,22.000 }</string>	
								<string>{ -26.000,18.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,-14.000 }</string>	
								<string>{ 31.000,-9.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 26.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,24.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 33.000,-9.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 31.000,-9.000 }</string>
							</array>
							<array>	
								<string>{ -32.000,-9.000 }</string>	
								<string>{ -30.000,-9.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -32.000,9.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>FullShield-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 24.000,24.000 }</string>	
								<string>{ 20.000,24.000 }</string>	
								<string>{ 24.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,20.000 }</string>	
								<string>{ 24.000,20.000 }</string>	
								<string>{ 26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,-18.000 }</string>	
								<string>{ 29.000,-14.000 }</string>	
								<string>{ 26.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,-30.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 13.000,-30.000 }</string>
							</array>
							<array>	
								<string>{ -16.000,-30.000 }</string>	
								<string>{ -12.000,-30.000 }</string>	
								<string>{ -16.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,27.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -16.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,-27.000 }</string>	
								<string>{ 20.000,-25.000 }</string>	
								<string>{ 17.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,24.000 }</string>	
								<string>{ -23.000,22.000 }</string>	
								<string>{ -20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ -28.000,-18.000 }</string>	
								<string>{ -25.000,-19.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 11.000,29.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -28.000,-14.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,27.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,18.000 }</string>	
								<string>{ 26.000,18.000 }</string>	
								<string>{ 29.000,13.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,-23.000 }</string>	
								<string>{ -21.000,-25.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ -25.000,-19.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,-25.000 }</string>	
								<string>{ 24.000,-23.000 }</string>	
								<string>{ 20.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ -16.000,29.000 }</string>	
								<string>{ -16.000,27.000 }</string>	
								<string>{ -12.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 15.000,29.000 }</string>	
								<string>{ 11.000,29.000 }</string>	
								<string>{ 15.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,13.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ 20.000,-25.000 }</string>	
								<string>{ 31.000,9.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,22.000 }</string>	
								<string>{ -26.000,18.000 }</string>	
								<string>{ -23.000,22.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,-14.000 }</string>	
								<string>{ 31.000,-9.000 }</string>	
								<string>{ 29.000,-14.000 }</string>
							</array>
							<array>	
								<string>{ 26.000,-23.000 }</string>	
								<string>{ 26.000,-18.000 }</string>	
								<string>{ 24.000,-23.000 }</string>
							</array>
							<array>	
								<string>{ -21.000,-27.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ -21.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ -30.000,-14.000 }</string>	
								<string>{ -28.000,-14.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ -30.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 24.000,-23.000 }</string>	
								<string>{ 26.000,-18.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 31.000,9.000 }</string>	
								<string>{ 20.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,-32.000 }</string>	
								<string>{ 13.000,-30.000 }</string>	
								<string>{ 6.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -12.000,-32.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ -12.000,-30.000 }</string>
							</array>
							<array>	
								<string>{ -3.000,33.000 }</string>	
								<string>{ -3.000,31.000 }</string>	
								<string>{ 4.000,31.000 }</string>	
								<string>{ 4.000,33.000 }</string>
							</array>
							<array>	
								<string>{ 11.000,31.000 }</string>	
								<string>{ -3.000,31.000 }</string>	
								<string>{ -12.000,29.000 }</string>	
								<string>{ -16.000,27.000 }</string>	
								<string>{ -20.000,24.000 }</string>	
								<string>{ 11.000,29.000 }</string>
							</array>
							<array>	
								<string>{ -12.000,31.000 }</string>	
								<string>{ -12.000,29.000 }</string>	
								<string>{ -3.000,31.000 }</string>
							</array>
							<array>	
								<string>{ -28.000,18.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 6.000,-34.000 }</string>	
								<string>{ 6.000,-32.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ -5.000,-34.000 }</string>
							</array>
							<array>	
								<string>{ 13.000,-30.000 }</string>	
								<string>{ 17.000,-27.000 }</string>	
								<string>{ -16.000,-27.000 }</string>	
								<string>{ -12.000,-30.000 }</string>	
								<string>{ -5.000,-32.000 }</string>	
								<string>{ 6.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,22.000 }</string>	
								<string>{ -26.000,18.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -20.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,-14.000 }</string>	
								<string>{ 31.000,-9.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 26.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,24.000 }</string>	
								<string>{ 15.000,27.000 }</string>	
								<string>{ 29.000,13.000 }</string>	
								<string>{ 26.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 33.000,-9.000 }</string>	
								<string>{ 33.000,9.000 }</string>	
								<string>{ 31.000,-9.000 }</string>
							</array>
							<array>	
								<string>{ -32.000,-9.000 }</string>	
								<string>{ -30.000,-9.000 }</string>	
								<string>{ -30.000,9.000 }</string>	
								<string>{ -32.000,9.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Recharge-hd</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -20.000,28.000 }</string>	
								<string>{ -20.000,25.000 }</string>	
								<string>{ -17.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,28.000 }</string>	
								<string>{ 16.000,28.000 }</string>	
								<string>{ 19.000,25.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,25.000 }</string>	
								<string>{ 19.000,25.000 }</string>	
								<string>{ -29.000,14.000 }</string>	
								<string>{ -31.000,-8.000 }</string>	
								<string>{ -29.000,-13.000 }</string>	
								<string>{ 16.000,-26.000 }</string>	
								<string>{ 19.000,-24.000 }</string>	
								<string>{ 23.000,21.000 }</string>
							</array>
							<array>	
								<string>{ 25.000,21.000 }</string>	
								<string>{ 23.000,21.000 }</string>	
								<string>{ 19.000,-24.000 }</string>	
								<string>{ 25.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,-29.000 }</string>	
								<string>{ 16.000,-26.000 }</string>	
								<string>{ 12.000,-29.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,-26.000 }</string>	
								<string>{ 19.000,-24.000 }</string>	
								<string>{ 16.000,-26.000 }</string>
							</array>
							<array>	
								<string>{ 28.000,-17.000 }</string>	
								<string>{ 28.000,-13.000 }</string>	
								<string>{ 25.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,-17.000 }</string>	
								<string>{ -26.000,-18.000 }</string>	
								<string>{ 16.000,-26.000 }</string>	
								<string>{ -29.000,-13.000 }</string>
							</array>
							<array>	
								<string>{ -29.000,19.000 }</string>	
								<string>{ -29.000,14.000 }</string>	
								<string>{ -26.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 28.000,19.000 }</string>	
								<string>{ 25.000,19.000 }</string>	
								<string>{ 28.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 25.000,-22.000 }</string>	
								<string>{ 25.000,-18.000 }</string>	
								<string>{ 23.000,-22.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,-24.000 }</string>	
								<string>{ 23.000,-22.000 }</string>	
								<string>{ 19.000,-24.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,-29.000 }</string>	
								<string>{ -15.000,-29.000 }</string>	
								<string>{ -19.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ -26.000,-22.000 }</string>	
								<string>{ -24.000,-22.000 }</string>	
								<string>{ -26.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ -31.000,14.000 }</string>	
								<string>{ -31.000,-8.000 }</string>	
								<string>{ -29.000,14.000 }</string>
							</array>
							<array>	
								<string>{ -26.000,23.000 }</string>	
								<string>{ -26.000,19.000 }</string>	
								<string>{ -24.000,23.000 }</string>
							</array>
							<array>	
								<string>{ -24.000,25.000 }</string>	
								<string>{ -24.000,23.000 }</string>	
								<string>{ -20.000,25.000 }</string>
							</array>
							<array>	
								<string>{ -17.000,30.000 }</string>	
								<string>{ -17.000,28.000 }</string>	
								<string>{ -13.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 30.000,14.000 }</string>	
								<string>{ 28.000,14.000 }</string>	
								<string>{ 30.000,-8.000 }</string>
							</array>
							<array>	
								<string>{ 30.000,-13.000 }</string>	
								<string>{ 30.000,-8.000 }</string>	
								<string>{ 28.000,14.000 }</string>	
								<string>{ 25.000,19.000 }</string>	
								<string>{ 28.000,-13.000 }</string>
							</array>
							<array>	
								<string>{ -31.000,-13.000 }</string>	
								<string>{ -29.000,-13.000 }</string>	
								<string>{ -31.000,-8.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,30.000 }</string>	
								<string>{ 11.000,30.000 }</string>	
								<string>{ 16.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,-22.000 }</string>	
								<string>{ 25.000,-18.000 }</string>	
								<string>{ 19.000,-24.000 }</string>
							</array>
							<array>	
								<string>{ -22.000,-26.000 }</string>	
								<string>{ -19.000,-27.000 }</string>	
								<string>{ -24.000,-22.000 }</string>
							</array>
							<array>	
								<string>{ -24.000,23.000 }</string>	
								<string>{ -26.000,19.000 }</string>	
								<string>{ 19.000,25.000 }</string>	
								<string>{ 16.000,28.000 }</string>	
								<string>{ 11.000,30.000 }</string>	
								<string>{ 5.000,32.000 }</string>	
								<string>{ -20.000,25.000 }</string>
							</array>
							<array>	
								<string>{ 10.000,32.000 }</string>	
								<string>{ 5.000,32.000 }</string>	
								<string>{ 11.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 12.000,-31.000 }</string>	
								<string>{ 12.000,-29.000 }</string>	
								<string>{ 5.000,-31.000 }</string>
							</array>
							<array>	
								<string>{ -14.000,-31.000 }</string>	
								<string>{ -8.000,-31.000 }</string>	
								<string>{ -15.000,-29.000 }</string>
							</array>
							<array>	
								<string>{ 5.000,-33.000 }</string>	
								<string>{ 5.000,-31.000 }</string>	
								<string>{ -8.000,-31.000 }</string>	
								<string>{ -6.000,-33.000 }</string>
							</array>
							<array>	
								<string>{ -17.000,28.000 }</string>	
								<string>{ -20.000,25.000 }</string>	
								<string>{ 5.000,32.000 }</string>	
								<string>{ -13.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 12.000,-29.000 }</string>	
								<string>{ 16.000,-26.000 }</string>	
								<string>{ -26.000,-18.000 }</string>	
								<string>{ -24.000,-22.000 }</string>	
								<string>{ -15.000,-29.000 }</string>	
								<string>{ -8.000,-31.000 }</string>	
								<string>{ 5.000,-31.000 }</string>
							</array>
							<array>	
								<string>{ 3.000,34.000 }</string>	
								<string>{ -13.000,32.000 }</string>	
								<string>{ -13.000,30.000 }</string>	
								<string>{ 5.000,32.000 }</string>
							</array>
							<array>	
								<string>{ -19.000,-27.000 }</string>	
								<string>{ -15.000,-29.000 }</string>	
								<string>{ -24.000,-22.000 }</string>
							</array>
							<array>	
								<string>{ 32.000,-8.000 }</string>	
								<string>{ 32.000,10.000 }</string>	
								<string>{ 30.000,10.000 }</string>	
								<string>{ 30.000,-8.000 }</string>
							</array>
							<array>	
								<string>{ -33.000,-8.000 }</string>	
								<string>{ -31.000,-8.000 }</string>	
								<string>{ -31.000,10.000 }</string>	
								<string>{ -33.000,10.000 }</string>
							</array>
							<array>	
								<string>{ 25.000,-18.000 }</string>	
								<string>{ 28.000,-13.000 }</string>	
								<string>{ 25.000,19.000 }</string>	
								<string>{ 19.000,-24.000 }</string>
							</array>
							<array>	
								<string>{ -26.000,19.000 }</string>	
								<string>{ -29.000,14.000 }</string>	
								<string>{ 19.000,25.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

